/* General Formatting Start */

body,
a {
	font: 16px/1.2 'Lato', sans-serif; 
	color: #666756;
}

::selection {
	background: #f7981d;
}

a:hover {
	color: #f7981d;
	cursor: pointer;
}

.pale-text {
	color: #bbb;
}

/* h1, h2, h3 and h4, supposedly should follow the one line syntax of "font" that is follows:
style variant weight size/line-height family, ect. 
However when tested the tags didn't get the formatting. */

h1 {
	font-weight: 100;
	font-size: 3.5em;
	text-transform: uppercase;
}

h2 {
	font-weight: 400;
	font-size: 2.3em;
}

h3 {
	font-weight: 400;
	font-size: 2.4em;
	text-transform: uppercase;
}

h4 {
	font-weight: 400;
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 10px 0 30px 0;
}

.wrapper {
	max-width: 948px;
	margin: auto;
}

/* General Formatting End */

/* Header Start */

.logo {
	margin-top: 20px;
}

.separator {
	border: 2px solid #bbb;
	margin: 5px 0 30px 15px;
	max-width: 944px;
}

/* Header End */

/* Portfolio Start */
.portfolio {
	margin-bottom: 30px;
}

.portfolio-title {
	margin: 10px 0 5px 15px;
}

.portfolio-item {
	text-align: center;
}

.portfolio-item h3 {
	margin: 10px 0 5px 0;
}

.portfolio-item img:hover {
	cursor: pointer;
	opacity: 0.75;
	transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
}

/* Portfolio End */

/* Modal Start */

.modal-content {
	border: none;
	border-radius: 0;
}

.modal-header {
	border: none;
}

.modal button {
	position: absolute;
	right: 13px;
	margin: 0;
	border: 2px solid #bbb;
	color: #979797;
	font-weight: bold;
	box-shadow: 1px 1px 2px #bbb;
	-webkit-box-shadow: 1px 1px 2px #bbb;
	-moz-box-shadow: 1px 1px 2px #bbb;
	-o-box-shadow: 1px 1px 2px #bbb;
}

.modal button:hover {
	border: 2px solid #979797;
	background: #f7981d;
	box-shadow: -1px -1px 2px #bbb;
	-webkit-box-shadow: -1px -1px 2px #bbb;
	-moz-box-shadow: -1px -1px 2px #bbb;
	-o-box-shadow: -1px -1px 2px #bbb;
	transition: background 0.2s ease-in;
	-webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;

}

.modal p {
	text-align: justify;
	padding: 30px 30px 20px 30px;
	margin: 0;
}

.modal img:hover {
	cursor: default;
	opacity: 1;
}

/* Modal End */