/* General Formatting Start */

body,
a {
	font: 16px/1.2 'Lato', sans-serif; 
	color: #666756;
}

/*
::selection {
	background: #f7981d;
}
// ::selection pseudo-element was apparently dropped from CSS3 and does not pass validation */

a:hover {
	color: #f7981d;
	cursor: pointer;
}

.muted {
	color: #bbb;
}

.container {
	box-shadow: 0 0 5px 0 black;
	-webkit-box-shadow: 0 0 5px 0 black;
	-moz-box-shadow: 0 0 5px 0 black;
	-o-box-shadow: 0 0 5px 0 black;
}

.sub-title {
	margin: 10px 0 5px 15px;
}

/* h1, h2, h3 and h4, supposedly should follow the one line syntax of "font" that is follows:
style variant weight size/line-height family, ect. 
However when tested the tags didn't get the formatting. */

h1 {
	font-weight: 100;
	font-size: 3.5em;
	text-transform: uppercase;
}

h2 {
	font-weight: 400;
	font-size: 2.3em;
}

h3 {
	font-weight: 400;
	font-size: 2.4em;
	text-transform: uppercase;
}

h4 {
	font-weight: 400;
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 10px 0 30px 0;
}

img {
	width: 100%;
	height: auto;
}

/* General Formatting End */

/* Header Start */

.logo {
	margin-top: 20px;
}

.logo img {
	width: 100px;
}

.separator {
	border: 2px solid #bbb;
	margin: 5px 15px 30px 15px;
}

/* Header End */

/* Featured Image Start */



/* Featured Image End */

/* Portfolio Start */

.portfolio-item {
	margin-bottom: 30px;
}

.portfolio-item h3 {
	margin: 10px 0 5px 0;
}

.portfolio-item img:hover {
	cursor: pointer;
	opacity: 0.75;
	transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
}

.portfolio-item h3:hover {
	cursor: pointer;
	color: #f7981d;
	transition: color 0.2s ease-in;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
}
/* Portfolio End */

/* Modal Start */

.modal-content {
	border: none;
	border-radius: 0;
}

.modal-header {
	border: none;
}

.modal .close {
	float: right;
}

.modal .close:hover {
	color: #f7981d;
	cursor: pointer;
	transition: color 0.2s ease-in;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: background 0.2s ease-in;

}

.modal p {
	text-align: justify;
	padding: 30px 30px 20px 30px;
	margin: 0;
}

.modal img:hover {
	cursor: default;
	opacity: 1;
}

/* Modal End */

/* FAQ Start */

.panel-title,
.panel-body {
	margin: 0 15px 0 15px;
}

/* FAQ End */

@media only screen and (max-width: 750px) {

	/* Mobile Header Start */

	.header {
		text-align: center;
	}

	.title {
		text-align: center !important;
	}

	/* Mobile Header End */

	/* Mobile Featured Image Start 
	The featured image is not rendered on mobile view, because the small image can't give back the appropriate experiance,
	and the new structure provides better accessability to the portfolio items for handheld users.
	*/ 

	.feature {
		display: none;
	}

	/* Mobile Featured Image End */

	/* Mobile Portfolio Start */

	.portfolio-title {
		text-align: center;
	}

	/* Mobile Portfolio End */

}